.container {
  max-width: 64.4rem;
  width: 100%;

  .input {
    width: 100%;
    padding: 1.6rem;
    background-color: rgba(38, 38, 38, 1);
    border: 0.1rem solid rgba(13, 13, 13, 1);
    border-radius: 0.8rem;
    color: white;
  }
}
