.emptyTodo {
  padding-top: 6.4rem;
  text-align: center;
  img {
    margin-bottom: 1.6rem;
  }
  p {
    font-size: 1.6rem;
    font-weight: 700;
    color: rgba(128, 128, 128, 1);
    line-height: 22.4px;
  }
}
